<h1>Fun Facts about me</h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag 'fb_smiling.jpg', width: "300px", alt: "profile image" %>
	</div>
	<div class="col-md-8">
		<p>
			My name is Mitchell Moore. I was born in New York and moved to California for the warm weather. I have a bachelors in computer science. I started off wanting to design and develop video games but my passion fell into wanting to create websites.  
		</p>
		<p>
			The first language i learned was Java. I moved on to learning php. I fell in love with Ruby and Ruby on Rails. I am currently trying to master Ruby on Rails and Javascript for the front end and the backend.
		</p>
	</div>
</div>

